Ai-workflows/AudioGenTool.json
{
  "name": "AI_Audio_Generation_Workflow_Demo",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a data extraction specialist. Your task is to extract voice-over (VO) lines from the {{ $('Webhook1').item.json.body.content }} and structure them according to specific formatting rules. \n\nInstructions: \n- Extract all voice-over content from the JSON data. \n- Generate the filename based on the tags at the start of the line\n- Extract VOText as clean text without any formatting symbols or asterisks. \n\nRequired Output Format: \nReturn a JSON array with this exact structure: \n[\n  {\n    \"Filename\": \"Intro.mp3\",\n    \"VOText\": \"string\"\n  },\n  {\n    \"Filename\": \"Step1_VO1.mp3\",\n    \"VOText\": \"string\"\n  },\n  {\n    \"Filename\": \"Step2_VO2.mp3\",\n    \"VOText\": \"string\"\n  }\n] \n\nProcessing Rules: \n- Remove any formatting characters from VOText \n- Ensure each entry has both Filename and VOText fields \n- Return only valid JSON with no additional text or explanations",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1376,
        2944
      ],
      "id": "**",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voice_settings.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "enable_logging",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "YOUR_ELEVENLABS_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.VOText }}"
            },
            {
              "name": "audiofile",
              "value": "={{ $json.File_name }}"
            },
            {
              "name": "model_id",
              "value": "={{ $json.model_id }}"
            },
            {
              "name": "=voice_settings",
              "value": "={{ $json.voice_settings }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2064,
        3072
      ],
      "id": "**",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "name": "={{ $json.File_name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Simulation VoiceOvers",
          "cachedResultUrl": "https://drive.google.com/"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2480,
        3072
      ],
      "id": "**",
      "name": "Upload file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        3056
      ],
      "id": "**",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node (JavaScript)\n * Input sample:\n * items[0].json.output = \"```json\\n[ { \\\"Filename\\\":\\\"Intro.mp3\\\", \\\"VOText\\\":\\\"...\\\" }, ... ]\\n```\"\n * Output: multiple items, each { json: { Filename, VOText, index } }\n */\n\nfunction stripFences(s) {\n  const m = String(s).match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n  return (m ? m[1] : String(s)).trim();\n}\n\nfunction stripLeadingJsonToken(s) {\n  // Handles cases like \"json[ ... ]\"\n  return s.replace(/^\\s*json\\s*(?=\\[)/i, '').trim();\n}\n\nfunction parseArray(raw) {\n  if (Array.isArray(raw)) return raw;\n  if (raw && typeof raw === 'object') {\n    // Try common wrappers if an object shows up\n    const maybe = raw.data ?? raw.items ?? raw.result;\n    if (Array.isArray(maybe)) return maybe;\n  }\n  let t = stripFences(String(raw));\n  t = stripLeadingJsonToken(t).replace(/```/g, '').trim();\n  return JSON.parse(t);\n}\n\nfunction validateRows(arr) {\n  const out = [];\n  for (const e of arr) {\n    if (!e || typeof e !== 'object' || Array.isArray(e)) continue;\n    const Filename = e.Filename;\n    const VOText = e.VOText;\n    if (typeof Filename !== 'string' || !/\\.mp3$/i.test(Filename) || !Filename.trim()) continue;\n    if (typeof VOText !== 'string' || !VOText.trim()) continue;\n    out.push({ Filename: Filename.trim(), VOText: VOText.trim() });\n  }\n  if (!out.length) throw new Error('No valid VO entries after validation.');\n  return out;\n}\n\n// ---- MAIN ----\nif (!items?.[0]?.json) throw new Error('No input item found.');\n\nconst src = items[0].json;\n// Prefer .output, fall back to .text/.result, or root\nconst raw = src.output ?? src.text ?? src.result ?? src;\n\nconst arr = validateRows(parseArray(raw));\n\n// Return ONE ITEM PER VO (each item.json MUST be an OBJECT)\nreturn arr.map((row, i) => ({ json: { ...row, index: i } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        2928
      ],
      "id": "**",
      "name": "Code4"
    },
    {
      "parameters": {
        "jsCode": "// ===================== GUARD =====================\nif (!items || !items.length) {\n  throw new Error(\"No input items found.\");\n}\n\n// ===================== HELPERS =====================\nconst norm = (v) => (v === undefined || v === null ? \"\" : String(v).trim());\n\nconst sanitizeFilename = (name) => {\n  let s = norm(name);\n  s = s.replace(/[\\\\/:*?\"<>|\\u0000-\\u001F]+/g, \"_\");\n  s = s.replace(/\\s+/g, \" \").trim();\n  s = s.replace(/[.\\s]+$/g, \"\");\n  return s || \"audio\";\n};\n\nconst ensureMp3 = (name) =>\n  name.toLowerCase().endsWith(\".mp3\") ? name : `${name}.mp3`;\n\nconst firstKey = (row, keys) => {\n  for (const k of keys) {\n    if (row && row[k] !== undefined && row[k] !== null) return row[k];\n  }\n  return undefined;\n};\n\n// ===================== COLLECT ROWS =====================\nfunction collectRows(items) {\n  const acc = [];\n  for (const it of items) {\n    const j = it?.json;\n    if (!j) continue;\n\n    if (Array.isArray(j)) acc.push(...j);\n    else if (typeof j === \"object\") {\n      const maybe = j.data ?? j.rows ?? j.items ?? j.output ?? j;\n      if (Array.isArray(maybe)) acc.push(...maybe);\n      else if (typeof maybe === \"object\") acc.push(maybe);\n    }\n  }\n  return acc;\n}\n\n// ===================== READ WEBHOOK =====================\nlet webhookBody = {};\nlet voiceOverConfig = {};\nlet language = \"English\";\nlet voiceArtist = \"\";\nlet model = \"\";\nlet content = \"\";\n\ntry {\n  const w = $items(\"Webhook1\")?.[0]?.json?.body ?? {};\n  webhookBody = w;\n  voiceOverConfig = w.voiceOverConfig ?? {};\n  language = norm($('Webhook1').first().json.body.language) || \"English\";\n  voiceArtist = norm(w.voice_artist);\n  model = w.model_id\n  content = w.content\n} catch (_) {\n  webhookBody = {};\n  voiceOverConfig = {};\n  language = \"English\";\n  voiceArtist = \"\";\n  model = \"\";\n}\n\n// ===================== VOICE ARTIST → VOICE ID MAP =====================\nconst VOICE_MAP = {\n  Raju: \"21m00Tcm4TlvDq8ikWAM\",\n  Anika: \"VOICE_ID_ANIKA\",\n  Maya: \"VOICE_ID_MAYA\"\n};\n\nconst voiceId =\n  VOICE_MAP[voiceArtist] ||\n  voiceOverConfig.id ||\n  \"21m00Tcm4TlvDq8ikWAM\";\n\n// ===================== PREP ROWS =====================\nconst rows = collectRows(items);\nif (!rows.length) {\n  throw new Error(\"No rows detected.\");\n}\n\n// ===================== MAIN =====================\nconst out = [];\nconst usedNames = new Map();\n\n\n// 🔥🔥🔥 NEW — SCENE DEDUPE ONLY (ADDED FEATURE)\nconst seenScenes = new Set();\n// 🔥🔥🔥\n\n\nrows.forEach((row, i) => {\n\n  // -------- Scene --------\n  const scene = norm(firstKey(row, [\n    \"Scene Number\", \"SceneNumber\", \"sceneNumber\",\n    \"Scene\", \"scene\", \"Shot\", \"Shot Number\"\n  ]));\n\n  // 🔥🔥🔥 NEW — SKIP REPEATED SCENES\n  if (seenScenes.has(scene)) return;\n  seenScenes.add(scene);\n  // 🔥🔥🔥\n\n  // -------- VO Text --------\n  let vo = norm(firstKey(row, [\n    \"Narration\", \"VO\", \"VoiceOver\", \"VO Text\",\n    \"Script\", \"Text\", \"Description\"\n  ]));\n\n  if (/^[-–—\\s]+$/.test(vo)) vo = \"\";\n\n  // -------- Filename --------\n  const baseRaw = scene || `scene_${i + 1}`;\n  let base = sanitizeFilename(baseRaw);\n\n  const used = usedNames.get(base) || 0;\n  usedNames.set(base, used + 1);\n  if (used > 0) base = `${base}_${used + 1}`;\n\n  const fileName = ensureMp3(base);\n\n  // -------- OUTPUT --------\n  out.push({\n    json: {\n      File_name: fileName,\n      content: content,\n      VOText: vo,\n      language,\n      index: i,\n      \n      model_id: model,\n      id: voiceId,\n      stability: Number(voiceOverConfig.stability ?? 0.5),\n      similarity_boost: Number(voiceOverConfig.similarity_boost ?? 0.5),\n      style: Number(voiceOverConfig.style ?? 0),\n      speed: Number(voiceOverConfig.speed ?? 1),\n      use_speaker_boost: Boolean(voiceOverConfig.use_speaker_boost ?? false)\n    }\n  });\n});\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        3808
      ],
      "id": "**",
      "name": "Code5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "LLM_API_CREDENTIALS",
          "cachedResultUrl": "https://drive.google.com/"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.body.content }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1488,
        3808
      ],
      "id": "**",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "**",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2624,
        3264
      ],
      "id": "**",
      "name": "Webhook1",
      "webhookId": "**",
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.contentType }}",
                    "rightValue": "Simulation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "**"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "**",
                    "leftValue": "={{ $json.body.contentType }}",
                    "rightValue": "Video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2240,
        3248
      ],
      "id": "**",
      "name": "Switch1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1296,
        3184
      ],
      "id": "**",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "**",
              "name": "Filename",
              "value": "={{ $json['File_name '] }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "VOText",
              "value": "={{ $json['VOText '] }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "body.model_id",
              "value": "={{ $json.body.generationModel }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "body.voiceOverConfig.id",
              "value": "={{ $json['id '] }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "body.voiceOverConfig.stability",
              "value": "={{ $json.stability }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "body.voiceOverConfig.similarity_boost",
              "value": "={{ $json.similarity_boost }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "body.voiceOverConfig.style",
              "value": "={{ $json.style }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "body.voiceOverConfig.speed",
              "value": "={{ $json['speed '] }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "body.voiceOverConfig.use_speaker_boost",
              "value": "={{ $json.use_speaker_boost }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        3072
      ],
      "id": "**",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node (JavaScript)\n * - Processes ALL incoming items\n * - Keeps voice_settings strictly for engine parameters\n * - Outputs VOText & File_name at top level\n * - Includes model_id explicitly\n * - Model-safe (only sends supported params)\n */\n\n/* ================= Helpers ================= */\n\nconst toNum = (v) => {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : undefined;\n};\n\nconst toBool = (v) => {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'number') return v !== 0;\n  if (typeof v === 'string') {\n    const s = v.toLowerCase();\n    if (['true', '1', 'yes', 'y'].includes(s)) return true;\n    if (['false', '0', 'no', 'n'].includes(s)) return false;\n  }\n  return undefined;\n};\n\nconst clamp = (n, min, max) =>\n  typeof n === 'number' ? Math.min(Math.max(n, min), max) : undefined;\n\nconst ensureMp3 = (name, fallback) => {\n  let out = (name ?? fallback ?? '').toString().trim();\n  if (!out) out = 'audio.mp3';\n\n  if (!out.toLowerCase().endsWith('.mp3')) {\n    const dot = out.lastIndexOf('.');\n    if (dot > 0) out = out.slice(0, dot);\n    out += '.mp3';\n  }\n  return out;\n};\n\n/* ================= Main ================= */\n\nconst items = $input.all();\n\nconst results = items.map((item, idx) => {\n  const j = item.json ?? {};\n  const cfg = j.body?.voiceOverConfig ?? {};\n\n  /** Voice engine parameters ONLY */\n  const voice_settings = {};\n\n  if (cfg.id) voice_settings.id = cfg.id;\n  if (cfg.stability !== undefined)\n    voice_settings.stability = clamp(toNum(cfg.stability), 0, 1);\n  if (cfg.similarity_boost !== undefined)\n    voice_settings.similarity_boost = clamp(toNum(cfg.similarity_boost), 0, 1);\n  if (cfg.style !== undefined)\n    voice_settings.style = toNum(cfg.style);\n  if (cfg.speed !== undefined)\n    voice_settings.speed = clamp(toNum(cfg.speed), 0.25, 2);\n  if (cfg.use_speaker_boost !== undefined)\n    voice_settings.use_speaker_boost = toBool(cfg.use_speaker_boost);\n\n  return {\n    json: {\n      model_id: j.body?.model_id,                 // ✅ model at top level\n      VOText: (j.VOText ?? '').toString(),        // ✅ outside voice_settings\n      File_name: ensureMp3(j.Filename, `audio_${idx + 1}.mp3`),\n      voice_settings,                             // ✅ engine-only config\n      item_index: idx,\n    },\n    ...(item.binary ? { binary: item.binary } : {}),\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        3072
      ],
      "id": "**",
      "name": "Code7"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=IMPORTANT:\nReturn the corrected script only.\nDo NOT remove or rename any metadata fields.\n\nYou are a text quality checker for audio generation.\nYour job is to make the given script fully compatible for text-to-speech narration Using British English \n\nInput: {{ $json.VOText }}\n\nTasks:\n- Convert all numbers, units, equations, and symbols into natural, spoken English suitable for text-to-speech, ensuring clarity and correct pronunciation.\n- Correct grammar, spelling, punctuation, and capitalization\n- Improve clarity and natural spoken flow\n- Split or combine sentences naturally where needed\n- Enforce British English spelling and terminology (UK style)\n- Convert any American spellings to British forms\n- Use proper sentence boundaries (do NOT force everything into one sentence)\n- Do NOT replace words with synonyms unless required for grammar.\n\nCRITICAL SKIP RULE (VERY IMPORTANT):\n\n• If the input text is empty, blank, null, \"N/A\", \"N/A (Title)\", or contains only such placeholder text — you MUST NOT translate it.\n• In such cases, return the text exactly as it is without any modification.\n• Do NOT translate, do NOT normalise, do NOT expand anything.\n• Simply pass it unchanged and move to the next entry.\n\nStrict rules:\n- Preserve the original meaning\n- Do NOT add new content\n- Do NOT remove content\n- Do NOT rewrite creatively\n- Do NOT summarize\n- Do NOT translate\n- Do NOT change the language\n\nOutput rules:\n- Return ONLY the corrected script text\n- No explanations\n- No quotes\n- No markdown\n- No extra whitespace\n\n\n\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -480,
        4048
      ],
      "id": "**",
      "name": "Message a model2",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "**",
              "name": "File_name",
              "value": "={{ $('Code5').item.json.File_name }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "content ",
              "value": "={{ $('Code5').item.json.content }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "VOText",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "language",
              "value": "={{ $('Code5').item.json.language }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "index",
              "value": "={{ $('Code5').item.json.index }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "id",
              "value": "={{ $('Code5').item.json.id }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "stability",
              "value": "={{ $('Code5').item.json.stability }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "similarity_boost",
              "value": "={{ $('Code5').item.json.similarity_boost }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "style",
              "value": "={{ $('Code5').item.json.style }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "speed",
              "value": "={{ $('Code5').item.json.speed }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "use_speaker_boost",
              "value": "={{ $('Code5').item.json.use_speaker_boost }}",
              "type": "boolean"
            },
            {
              "id": "**",
              "name": "generationModel",
              "value": "={{ $('Code5').item.json.model_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        3840
      ],
      "id": "**",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=IMPORTANT:\nReturn the corrected script only.\nDo NOT remove or rename any metadata fields.\n\nYou are a text normaliser for text-to-speech narration.\nYour task is to make the script fully spoken, clear, and natural for audio playback using British English.\nInput:  {{ $json.VOText }}\n\n========================\nENGLISH MODE (British TTS):\n\nMandatory rules (ALWAYS apply to every occurrence):\n-Convert ALL numbers into words\n-Expand ALL unit abbreviations (kg to kilograms, g to grams, mg to milligrams, N to newtons, m to metres, cm to centimetres, mm to millimetres, s to seconds)\n-Expand ALL mathematical symbols (× to multiplied by, / to per, = to equals, > to greater than, < to less than, % to percent, & to and, + to plus, - to minus)\n-Convert equations and formulas into natural spoken sentences\n\nAlso:\n-Correct grammar, spelling, punctuation, and capitalization\n-Improve clarity and natural spoken flow\n-Use British English spelling and terminology\n-Keep proper sentence boundaries\n\nRestrictions:\n-Preserve the original meaning exactly\n-Do not add new information\n-Do not remove information\n-Do not add explanations or formatting\n\nOutput:\n-Return only the corrected script text.\n- No explanations\n- No quotes\n- No markdown\n- No extra whitespace\n\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -384,
        2736
      ],
      "id": "**",
      "name": "Message a model3",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "**",
              "name": "File_name ",
              "value": "={{ $('Code4').item.json.Filename }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "VOText ",
              "value": "={{ $('Code4').item.json.VOText }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "language ",
              "value": "={{ $('Switch1').item.json.body.language }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "index ",
              "value": "={{ $('Code4').item.json.index }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "id ",
              "value": "={{ $('Switch1').item.json.body.voiceOverConfig.id }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "stability",
              "value": "={{ $('Switch1').item.json.body.voiceOverConfig.stability }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "similarity_boost",
              "value": "={{ $('Switch1').item.json.body.voiceOverConfig.similarity_boost }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "style",
              "value": "={{ $('Switch1').item.json.body.voiceOverConfig.style }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "speed ",
              "value": "={{ $('Switch1').item.json.body.voiceOverConfig.speed }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "use_speaker_boost",
              "value": "={{ $('Switch1').item.json.body.voiceOverConfig.use_speaker_boost }}",
              "type": "boolean"
            },
            {
              "id": "**",
              "name": "body.generationModel",
              "value": "={{ $('Switch1').item.json.body.model_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        3056
      ],
      "id": "**",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voice_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "enable_logging",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "YOUR_ELEVENLABS_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.VOText }}"
            },
            {
              "name": "audiofile",
              "value": "={{ $json.File_name }}"
            },
            {
              "name": "model_id",
              "value": "={{ $json.model_id }}"
            },
            {
              "name": "=voice_settings",
              "value": "={{ $json.voice_settings }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        3872
      ],
      "id": "**",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "name": "={{$('Code').item.json.content}}_{{ $json.File_name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/"
        },
        "folderId": {
          "__rl": true,
          "value": "**",
          "mode": "list",
          "cachedResultName": "Videos VoiceOvers",
          "cachedResultUrl": "https://drive.google.com/"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2512,
        3872
      ],
      "id": "**",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        3856
      ],
      "id": "**",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "**",
              "name": "Filename",
              "value": "={{ $json.File_name }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "content ",
              "value": "={{ $json['content '] }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "VOText",
              "value": "={{ $json.VOText }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "model_id",
              "value": "={{ $('Edit Fields4').item.json.generationModel }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "**",
              "name": "voiceOverConfig.stability",
              "value": "={{ $json.stability }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "voiceOverConfig.similarity_boost",
              "value": "={{ $json.similarity_boost }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "voiceOverConfig.style",
              "value": "={{ $json.style }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "voiceOverConfig.speed",
              "value": "={{ $json.speed }}",
              "type": "number"
            },
            {
              "id": "**",
              "name": "voiceOverConfig.use_speaker_boost",
              "value": "={{ $json.use_speaker_boost }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        3872
      ],
      "id": "**",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node (JavaScript)\n * - Processes ALL incoming items\n * - Keeps voice_settings strictly for engine parameters\n * - Outputs VOText & File_name at top level\n * - Includes model_id explicitly\n * - Model-safe (only sends supported params)\n */\n\n/* ================= Helpers ================= */\n\nconst toNum = (v) => {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : undefined;\n};\n\nconst toBool = (v) => {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'number') return v !== 0;\n  if (typeof v === 'string') {\n    const s = v.toLowerCase();\n    if (['true', '1', 'yes', 'y'].includes(s)) return true;\n    if (['false', '0', 'no', 'n'].includes(s)) return false;\n  }\n  return undefined;\n};\n\nconst clamp = (n, min, max) =>\n  typeof n === 'number' ? Math.min(Math.max(n, min), max) : undefined;\n\nconst ensureMp3 = (name, fallback) => {\n  let out = (name ?? fallback ?? '').toString().trim();\n  if (!out) out = 'audio.mp3';\n\n  if (!out.toLowerCase().endsWith('.mp3')) {\n    const dot = out.lastIndexOf('.');\n    if (dot > 0) out = out.slice(0, dot);\n    out += '.mp3';\n  }\n  return out;\n};\n\n/* ================= Main ================= */\n\nconst items = $input.all();\n\nconst results = items.map((item, idx) => {\n  const j = item.json ?? {};\n  const cfg = j?.voiceOverConfig ?? {};\n\n  /** Voice engine parameters ONLY */\n  const voice_settings = {};\n\n  if (cfg.id) voice_settings.id = cfg.id;\n  if (cfg.stability !== undefined)\n    voice_settings.stability = clamp(toNum(cfg.stability), 0, 1);\n  if (cfg.similarity_boost !== undefined)\n    voice_settings.similarity_boost = clamp(toNum(cfg.similarity_boost), 0, 1);\n  if (cfg.style !== undefined)\n    voice_settings.style = toNum(cfg.style);\n  if (cfg.speed !== undefined)\n    voice_settings.speed = clamp(toNum(cfg.speed), 0.25, 2);\n  if (cfg.use_speaker_boost !== undefined)\n    voice_settings.use_speaker_boost = toBool(cfg.use_speaker_boost);\n\n  return {\n    json: {\n      model_id: j?.model_id,                 // ✅ model at top level\n      voice_id:j?.id,\n      VOText: (j.VOText ?? '').toString(),        // ✅ outside voice_settings\n      File_name: ensureMp3(j.Filename, `audio_${idx + 1}.mp3`),\n      content: $input.first().json['content '],\n      voice_settings,                             // ✅ engine-only config\n      item_index: idx,\n    },\n    ...(item.binary ? { binary: item.binary } : {}),\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        3872
      ],
      "id": "**",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.language }}",
                    "rightValue": "=hi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "**"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "**",
                    "leftValue": "={{ $json.language }}",
                    "rightValue": "=en",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -800,
        3808
      ],
      "id": "**",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a professional Hindi text normaliser for text-to-speech narration.\n\nSTRICT HINDI MODE — NON-NEGOTIABLE.\n\nYour task is to convert the given Hindi script into fully spoken, clear, natural, pronunciation-friendly Hindi suitable for audio narration.\n\nInput: {{ $json.VOText }}\n\nMANDATORY RULES (apply to EVERY occurrence):\n\n• Convert ALL digits into Hindi words\n0–9 or any number must never appear\nExamples:\n2 → दो\n15 → पंद्रह\n100 → सौ\n125 → एक सौ पच्चीस\n\n• Convert ALL mathematical symbols into spoken Hindi words\n\n→ और\n− → ऋण\n× → गुणा\n÷ → भाग\n= → बराबर\n% → प्रतिशत\n/ → प्रति\n\n→ से अधिक\n< → से कम\n\n• Convert ALL equations into natural spoken Hindi sentences\n2 + 2 = 4 → दो और दो बराबर चार\nF = ma → बल बराबर द्रव्यमान गुणा त्वरण\n\n• Expand ALL units into proper Hindi terms\nkg → किलोग्राम\ng → ग्राम\nmg → मिलीग्राम\nm → मीटर\ncm → सेंटीमीटर\nmm → मिलीमीटर\ns → सेकंड\nml → मिलीलीटर\nN → न्यूटन\n\n• Convert formulas, fractions, ratios, and scientific expressions into fully spoken Hindi\n\nCRITICAL SKIP RULE (VERY IMPORTANT):\n\n• If the input text is empty, blank, null, \"N/A\", \"N/A (Title)\", or contains only such placeholder text — you MUST NOT translate it.\n• In such cases, return the text exactly as it is without any modification.\n• Do NOT translate, do NOT normalise, do NOT expand anything.\n• Simply pass it unchanged and move to the next entry.\n\nSTRICT PROHIBITIONS (NEVER ALLOWED IN OUTPUT):\n\n✘ English words\n✘ Latin letters (a–z, A–Z)\n✘ Digits (0–9)\n✘ Symbols (+ − × ÷ = % etc.)\n✘ Hinglish or mixed language\n\nIf any appear, you MUST replace them with pure Hindi words.\n\nLANGUAGE STYLE:\n\n• Use only pure Devanagari Hindi\n• Use grammatically correct Hindi\n• Maintain original meaning exactly\n• Improve clarity and spoken flow\n• Narration must sound like a professional academic Hindi teacher\n• Keep all original metadata fields and structure unchanged\n\nOUTPUT RULES:\nReturn ONLY the corrected Hindi script text.\nDo NOT add explanations.\nDo NOT add notes.\nDo NOT add formatting.\nDo NOT add extra content.\n\n  "
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -464,
        3600
      ],
      "id": "**",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook1').item.json.body.language }}",
                    "rightValue": "en",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "**"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "**",
                    "leftValue": "={{ $('Webhook1').item.json.body.language }}",
                    "rightValue": "hi",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -704,
        2944
      ],
      "id": "**",
      "name": "Switch2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a professional Hindi text normaliser for text-to-speech narration.\n\nSTRICT HINDI MODE — NON-NEGOTIABLE.\n\nYour task is to convert the given Hindi script into fully spoken, clear, natural, pronunciation-friendly Hindi suitable for audio narration.\nInput:  {{ $json.VOText }}\n\n\nMANDATORY RULES (apply to EVERY occurrence):\n\n• Convert ALL digits into Hindi words\n0–9 or any number must never appear\nExamples:\n2 → दो\n15 → पंद्रह\n100 → सौ\n125 → एक सौ पच्चीस\n\n• Convert ALL mathematical symbols into spoken Hindi words\n\n→ और\n− → ऋण\n× → गुणा\n÷ → भाग\n= → बराबर\n% → प्रतिशत\n/ → प्रति\n\n→ से अधिक\n< → से कम\n\n• Convert ALL equations into natural spoken Hindi sentences\n2 + 2 = 4 → दो और दो बराबर चार\nF = ma → बल बराबर द्रव्यमान गुणा त्वरण\n\n• Expand ALL units into proper Hindi terms\nkg → किलोग्राम\ng → ग्राम\nmg → मिलीग्राम\nm → मीटर\ncm → सेंटीमीटर\nmm → मिलीमीटर\ns → सेकंड\nml → मिलीलीटर\nN → न्यूटन\n\n• Convert formulas, fractions, ratios, and scientific expressions into fully spoken Hindi\n\nSTRICT PROHIBITIONS (NEVER ALLOWED IN OUTPUT):\n\n✘ English words\n✘ Latin letters (a–z, A–Z)\n✘ Digits (0–9)\n✘ Symbols (+ − × ÷ = % etc.)\n✘ Hinglish or mixed language\n\nIf any appear, you MUST replace them with pure Hindi words.\n\nLANGUAGE STYLE:\n\n• Use only pure Devanagari Hindi\n• Use grammatically correct Hindi\n• Maintain original meaning exactly\n• Improve clarity and spoken flow\n• Narration must sound like a professional academic Hindi teacher\n• Keep all original metadata fields and structure unchanged\n\nOUTPUT RULES:\n\nReturn ONLY the corrected Hindi script text.\nDo NOT add explanations.\nDo NOT add notes.\nDo NOT add formatting.\nDo NOT add extra content.\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -384,
        3264
      ],
      "id": "**",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "content": "simulations \n\n",
        "height": 992,
        "width": 4864
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2112,
        2448
      ],
      "typeVersion": 1,
      "id": "**",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "***********",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "****************************"
  },
  "id": "*****",
  "tags": []
}